.dokumentasi-kegiatan {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dokumentasi-kegiatan .div-2 {
    background-color: #ffffff;
    height: 1745px;
    position: relative;
    width: 1440px;
  }
  
  .dokumentasi-kegiatan .footer {
    background-color: #fff1d6ad;
    height: 311px;
    left: 0;
    position: absolute;
    top: 1434px;
    width: 1440px;
  }
  
  .dokumentasi-kegiatan .overlap {
    height: 128px;
    left: 376px;
    position: absolute;
    top: 5px;
    width: 683px;
  }
  
  .dokumentasi-kegiatan .text-wrapper-9 {
    -webkit-text-stroke: 3px #ffffff;
    color: #ff6600;
    font-family: "Poppins-Black", Helvetica;
    font-size: 71px;
    font-weight: 900;
    height: 107px;
    left: 0;
    letter-spacing: 0;
    line-height: 106.5px;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .p {
    color: #567bff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 17px;
    font-weight: 700;
    height: 26px;
    left: 118px;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 102px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .skill-icons {
    height: 30px;
    left: 705px;
    position: absolute;
    top: 154px;
    width: 30px;
  }
  
  .dokumentasi-kegiatan .logos-whatsapp-icon {
    height: 32px;
    left: 623px;
    position: absolute;
    top: 152px;
    width: 32px;
  }
  
  .dokumentasi-kegiatan .logos-facebook {
    height: 30px;
    left: 745px;
    position: absolute;
    top: 154px;
    width: 30px;
  }
  
  .dokumentasi-kegiatan .streamline-web {
    height: 34px;
    left: 783px;
    position: absolute;
    top: 152px;
    width: 34px;
  }
  
  .dokumentasi-kegiatan .group {
    height: 74px;
    left: 0;
    position: absolute;
    top: 237px;
    width: 1442px;
  }
  
  .dokumentasi-kegiatan .overlap-group-3 {
    background-color: #ffffff;
    height: 74px;
    position: relative;
    width: 1440px;
  }
  
  .dokumentasi-kegiatan .text-wrapper-10 {
    color: #ff6600;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 17px;
    font-weight: 700;
    height: 26px;
    left: 526px;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .mdi-copyright {
    height: 24px;
    left: 487px;
    position: absolute;
    top: 23px;
    width: 24px;
  }
  
  .dokumentasi-kegiatan .mage-tiktok-circle {
    height: 34px;
    left: 663px;
    position: absolute;
    top: 151px;
    width: 34px;
  }
  
  .dokumentasi-kegiatan .text-wrapper-11 {
    -webkit-text-stroke: 3px #ffffff;
    color: #ff6600;
    font-family: "Poppins-Black", Helvetica;
    font-size: 71px;
    font-weight: 900;
    height: 107px;
    left: 284px;
    letter-spacing: 0;
    line-height: 106.5px;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 153px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .icon-park-solid-back {
    height: 52px;
    left: 21px;
    position: absolute;
    top: 181px;
    width: 52px;
  }
  
  .dokumentasi-kegiatan .text-wrapper-12 {
    color: #567bff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 17px;
    font-weight: 700;
    height: 26px;
    left: 557px;
    letter-spacing: 0;
    line-height: 25.5px;
    position: absolute;
    top: 267px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .element {
    height: 302px;
    left: 112px;
    object-fit: cover;
    position: absolute;
    top: 388px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-2 {
    height: 302px;
    left: 525px;
    object-fit: cover;
    position: absolute;
    top: 388px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-3 {
    height: 302px;
    left: 944px;
    object-fit: cover;
    position: absolute;
    top: 388px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-4 {
    height: 302px;
    left: 112px;
    object-fit: cover;
    position: absolute;
    top: 709px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-5 {
    height: 302px;
    left: 525px;
    object-fit: cover;
    position: absolute;
    top: 709px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-6 {
    height: 302px;
    left: 944px;
    object-fit: cover;
    position: absolute;
    top: 709px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-7 {
    height: 302px;
    left: 109px;
    object-fit: cover;
    position: absolute;
    top: 1030px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-8 {
    height: 302px;
    left: 522px;
    object-fit: cover;
    position: absolute;
    top: 1030px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .element-9 {
    height: 302px;
    left: 941px;
    object-fit: cover;
    position: absolute;
    top: 1030px;
    width: 390px;
  }
  
  .dokumentasi-kegiatan .filter-dokumentasi-instance {
    left: 116px !important;
    position: absolute !important;
    top: 309px !important;
  }
  
  .dokumentasi-kegiatan .header {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
    height: 130px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1440px;
  }
  
  .dokumentasi-kegiatan .overlap-group-wrapper {
    height: 103px;
    left: 41px;
    position: absolute;
    top: 5px;
    width: 185px;
  }
  
  .dokumentasi-kegiatan .overlap-group-4 {
    height: 103px;
    position: relative;
    width: 183px;
  }
  
  .dokumentasi-kegiatan .bulukumba {
    height: 84px;
    left: 26px;
    position: absolute;
    top: 0;
    width: 123px;
  }
  
  .dokumentasi-kegiatan .discoverbulukumba {
    color: transparent;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 82px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .span {
    color: #ff6600;
  }
  
  .dokumentasi-kegiatan .text-wrapper-13 {
    color: #567bff;
  }
  
  .dokumentasi-kegiatan .text-wrapper-14 {
    color: #567bff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 23px;
    font-weight: 600;
    height: 35px;
    left: 411px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    top: 48px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .text-wrapper-15 {
    color: #567bff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 23px;
    font-weight: 600;
    height: 35px;
    left: 812px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    top: 48px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .text-wrapper-16 {
    color: #567bff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 23px;
    font-weight: 600;
    height: 35px;
    left: 964px;
    letter-spacing: 0;
    line-height: 34.5px;
    position: absolute;
    top: 48px;
    white-space: nowrap;
  }
  
  .dokumentasi-kegiatan .search-bar {
    height: 49px !important;
    left: 1193px !important;
    position: absolute !important;
    top: 45px !important;
    width: 47px !important;
  }
  
  .dokumentasi-kegiatan .logos-whatsapp-icon-2 {
    height: 42px;
    left: 1371px;
    position: absolute;
    top: 44px;
    width: 42px;
  }
  
  .dokumentasi-kegiatan .layanan-instance {
    left: 599px !important;
    position: absolute !important;
    top: 49px !important;
  }
  
  .dokumentasi-kegiatan .language-instance {
    left: 1258px !important;
    position: absolute !important;
    top: 44px !important;
  }
  
  .dokumentasi-kegiatan .skill-icons-2 {
    height: 36px;
    left: 1319px;
    position: absolute;
    top: 47px;
    width: 36px;
  }
  
  .dokumentasi-kegiatan .logos-whatsapp-icon-3 {
    height: 50px;
    left: 1364px;
    position: fixed;
    top: 702px;
    width: 50px;
  }
  